@page "/termin-buchen/{name}"


<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Termin in: @viewModel.Name</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <h5>Von:</h5>
        </div>
        <div class="col-2">
            <span>@viewModel.From.ToShortTimeString()</span>
        </div>
        <div class="col-1">
            <h5>Bis:</h5>
        </div>
        <div class="col-2">
            <span>@viewModel.To.ToShortTimeString()</span>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
         <button class="btn btn-primary" @onclick="Execute">Buchen</button>
        </div>
    </div>
</div>

