@page "/termin-suchen/{name}"

@if (!loaded)
{
    <span>Loading ...</span>
}
else
{
<ul>
    @foreach (var slot in slots)
    {
        <li><span>from: @slot.Payload.From - to: @slot.Payload.To -> status @slot.Payload.Status</span>
        @if(slot.Payload.Status != SlotStatus.Full || slot.Payload.Status != SlotStatus.Invalid)
                    {
                        <button @onclick="@(e => BookSlot(slot))">Buchen</button>
                    }

        </li>
    }

</ul>
}