@page "/termin-suchen/{id}"

@if (!loaded)
{
    <span>Loading ...</span>
}
else
{
<ul>
    @foreach (var slot in slots)
    {
        <li><span>from: @slot.From - to: @slot.To -> status @slot.Status</span></li>
    }

</ul>
}