@page "/shop-termine/{facilityId}"

<div class="container">
    <ul>
        @foreach (var item in visits)
        {
            <li><button class="btn btn-primary" @onclick="@(e => GoTo(item))">@item.From</button></li>

        }
    </ul>
</div>

