@page "/suche/{search}"

<ul>
    @foreach (var item in facilities)
    {
        <li>
            <a href="/termin-suchen/@item.ID.ToString()">
                <span>@item.Name</span>
            </a>

        </li>
    }
</ul>